* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: Allan, sans-serif;
}